*{
    font-family: "IBM Plex Serif", serif;
    
}
body{
    background-color: white;
    margin: 0px;
}
.navbar{
    margin: 20px 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    display: flex;
    align-items: center;
}
.logoimg{
    width: 48px;
    padding-right: 10px;
}
.menu > img{
    width: 50px;
}
.hero{
    margin: 80px 70px 40px 70px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
/* .content{
} */
.hero > .content > h1{
    font-size: 5rem;
}
.hero > .content  span{
    color: rgb(42, 42, 183);
}
.hero > .content > h4{
    font-weight: 520;
    width: 800px;
}
.button{
    background: rgb(42, 42, 183);
    color: whitesmoke;
    cursor: pointer;
    padding: 10px 15px;
    border: 1px solid blue;
    border-radius: 30px;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bolder;
}
.hero .profile img{
    width: 500px;
}
.projects{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}
.p1, .p2, .p3{
    padding: 30px;
}
.projects .p1{
    background: rgb(35, 35, 110);
    width: 33%;
    height: 400px;
    text-align: center;
}
.projects .p2{
    background: rgb(30, 30, 157);
    width: 34%;
    height: 400px;
    text-align: center;
}
.projects .p3{
    background: rgb(21, 21, 183);
    width: 33%;
    height: 400px;
    text-align: center;
}

.projects p{
    font-size: 15px;
    font-weight: 500;
    color: rgb(193, 172, 172);
}

.projects img{
    width: 180px;
    border: 2px solid black;
    border-radius: 50%;
}

.aboutme{
    padding: 30px;
}
.opc{
    box-shadow: 5px 5px 5px 8px whitesmoke;
    background: white;
    margin: 10px auto;
    text-align: center;
    padding: 35px;
    width: 800px;
}
.aboutme h1{
    font-size: 4rem;
    color: rgb(42, 42, 183);
    margin: 0;
    padding: 10px;
}
.aboutme h5{
    font-size: 1rem;
    margin: 0;
    padding: 20px;
}
.opc img{
    border-radius: 50%;
}
.aboutme p{
    margin: 5px auto 25px auto;
    width: 720px;
}
.aboutme span{
    color: rgb(42, 42, 183);
}
.aboutme button{
    margin: 25px;
}
.aboutme .opc > a{
    background: rgb(42, 42, 183);
    color: whitesmoke;
    cursor: pointer;
    padding: 10px 15px;
    border: 1px solid blue;
    border-radius: 30px;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bolder;
    text-decoration: none;
    
}
.aboutme2{
    display: flex;
    background: rgb(30, 30, 157);
    color: rgb(240, 233, 233);
} 
.aboutme2 img{
    width: 760px;
    height: 550px;
    margin: 0;
}
.aboutme2 .aboutme2content{
    padding: 100px;
}
.aboutme2content h1{
    font-size: 3rem;
    text-transform: capitalize;
}
.aboutme2content p{
    padding: 10px;
}
.aboutme2content > a{
    background: black;
    color: whitesmoke;
    cursor: pointer;
    padding: 10px 15px;
    border-radius: 30px;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bolder;
    text-decoration: none;
}
.skillsection{
    text-align: center;
    margin-bottom: 60px;
    margin-top: 60px;
}
/* .skillsection h2{
    color: blue;
} */
.skillsection img{
    width: 100px;
}
.skills1{
    display: flex;
    justify-content: space-evenly;
    padding: 35px;
}
.skills2{
    display: flex;
    justify-content: space-evenly;
    padding: 35px;
    
}
.skill p{
    width: 400px;
}
.aboutme3{
    display: flex;
    /* background: rgb(39, 39, 112);
    color: rgb(240, 233, 233); */
    background: whitesmoke;
    color: black;
} 
.aboutme3 img{
    width: 760px;
    height: 550px;
    margin: 0;
}
.aboutme3 .aboutme3content{
    padding: 100px;
}
.aboutme3content h1{
    font-size: 3rem;
    text-transform: capitalize;
}
.aboutme3content p{
    padding: 10px;
}
.aboutme3content > a{
    background: black;
    color: whitesmoke;
    cursor: pointer;
    padding: 10px 15px;
    border-radius: 30px;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bolder;
    text-decoration: none;
}
.contact{
    /* margin-top: -25px; */
    color: whitesmoke;
    background: rgb(30, 30, 157);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 80px;
    padding-right: 80px;
}
.getintouch{
    width: 700px;
}
.contactbtn{
    background: #000;
    text-decoration: none;
    border: 2px solid black;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bolder;
    color: whitesmoke;
    cursor: pointer;
    padding: 10px 15px;
    border-radius: 30px;
}
.thanku{
    text-align: center;

}
.thanku p{
    margin-bottom: 50px;
}
.backtotopbtn{
    background: rgb(30, 30, 157);
    text-decoration: none;
    border: 2px solid rgb(30, 30, 157);
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bolder;
    color: whitesmoke;
    cursor: pointer;
    padding: 10px 15px;
    border-radius: 30px;
}
.footer{
    text-align: center;
    margin: 30px 0px 0px 0px;
    background: #000;
    color: whitesmoke;
    padding: 10px;
}


@media (max-width:992px) {
    .logoimg{
        width: 40px;
    }

    .logo>h2{
        font-size: 20px;
    }

    .menu > img{
        width: 40px;
    }

    .navbar,.hero{
        margin: 10px 35px;
    }

    .hero{
        margin-top: 30px;
    }
    
    .hero > .content > h1{
        font-size: 4rem;
    }

    
.hero > .content > h4{
     font-size: 18px;
     width: auto;
}

.content{
    width: 100%;
}
}


@media (max-width:786px) {
    .logoimg{
        width: 30px;
    }

    .logo>h2{
        font-size: 18px;
    }

    .menu > img{
        width: 30px;
    }

    .navbar,.hero{
        margin: 10px 30px;
    }

    .hero{
        margin-top: 20px;
    }
    
    .hero > .content > h1{
        font-size: 3rem;
    }

    
.hero > .content > h4{
     font-size: 16px;
}
    
}

@media (max-width:600px) {
    .logoimg{
        width: 25px;
    }

    .logo>h2{
        font-size: 16px;
    }

    .menu > img{
        width: 25px;
    }

    .hero{
        flex-direction: column-reverse;
    }

    .navbar.hero{
        margin: 10px 20px;
    }
    
     .hero{
        margin-top: 20px;
    }
    
    .hero > .content > h1{
        font-size: 2rem;
    }

    
.hero > .content > h4{
     font-size: 14px;
}

.hero .profile img{
    width: 100%;
}
}






